<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>

    <div class="form-group">
        <label>Email
            <input th:field="${registerFormDTO.email}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.email}"></p>
    </div>

    <div class="form-group">
        <label>Password
            <input th:field="${registerFormDTO.password}" type="password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>

    <div class="form-group">
        <label>Verify Password
            <input th:field="${registerFormDTO.verifyPassword}" type="password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.verifyPassword}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Sign Up">
</form>
</body>
</html>