<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" action="/goals/create">
    <div class="form-group">
        <label>Name
            <input type="text" th:field="${goal.name}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:field="${goal.description}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Days
            <input type="text" th:field="${goal.days}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create a Goal" class="btn btn-success">
    </div>

    </div>






</form>

</body>
</html>