<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<div th:replace="fragments::page-header-home">
</div>
<div>
    <h1 class="goalh1margin">All Goals</h1>
    <div th:replace="fragments :: header-goal"></div>

    <p th:unless="${goals} and ${goals.size()}">No goals!</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Days</th>
        </tr>
        </thead>
        <tr th:each="goal : ${goals}">
            <td th:text="${goal.name}"></td>
            <td th:text="${goal.description}"></td>
            <td
                    th:text="${goal.days}">
            </td>


        </tr>
    </table>
</div>

</body>
</html>
