<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Thanks for being awesome!</h1>
<p>

    We have received your message and would like to thank you for writing to us. If your inquiry is urgent, please use the telephone number listed in home page to talk to one of our staff members.

    Otherwise, we will reply by email as soon as possible.

    Talk to you soon,Health Application! </p>
<a href= "goals" >Let's go create a goal and stay healthy! </a>
</body>
</html>