<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="row g-3">
    <div class="col-md-6">
        <form action="" method="POST">
            <label>goal1 <input type="text" name="goal1"></label><br><br>
            <label>goal2 <input type="text" name="goal2"></label><br><br>
            <label>goal3 <input type="text" name="goal3"></label><br><br>
            <label>goal4 <input type="text" name="goal4"></label><br><br>
            <label>goal5 <input type="text" name="goal5"></label><br><br>
            <button>Add goals</button>   <button>Delete goals</button><br><br>
        </form>

    </div>
</body>
</html>